
@{
    ViewBag.Title = "Issues";
}
<link href="~/Content/css/pro_setting.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<div class="project-header">
    <div class="header-set">
        <div class="header-icon">
            <i class="far fa-building"></i>
        </div>
        <div class="header-text">
            <span>DNO-fresher</span>
            <span>RSK-1</span>
        </div>
    </div>
    <div class="project-action">
        <div class="action-search">
            <form action="" method="get">
                <div class="search-form">
                    <input type="text" name="" title="Search Issue" />
                    <i class="fas fa-search" title="Search Issue"></i>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="project-setting-content">
    <div class="title">
        <h2>Task issue</h2>
    </div>
    <div class="Issue-overview row">
        <div class="Assigned col-md-6">
            <div class="personally">
                <div class="avatar">
                    <i class="fas fa-person"></i>
                </div>
                <div class="Infor">
                    <div class="name">
                        <b>Nguyen Hoang</b>
                    </div>
                    <div class="created">
                        <p>Created Jun. 03, 2019 16:06:05 </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Action col-md-6">
            <button class="btn btn-quote">
                quote
            </button>
            <button class="btn btn-star">
                <i class="fas fa-star"></i>
            </button>
        </div>
        <div class="content-overview col-md-12 row">
            <div class="property col-md-6">
                <div class="property-label">
                    <label>Priority</label>
                </div>
                <div class="property-content">
                    <label>hight</label>
                </div>
            </div>
            <div class="property col-md-6">
                <div class="property-label">
                    <label>Priority</label>
                </div>
                <div class="property-content">
                    <label>hight</label>
                </div>
            </div>
            <div class="property col-md-6">
                <div class="property-label">
                    <label>Priority</label>
                </div>
                <div class="property-content">
                    <label>hight</label>
                </div>
            </div>
            <div class="property col-md-6">
                <div class="property-label">
                    <label>Priority</label>
                </div>
                <div class="property-content">
                    <label>hight</label>
                </div>
            </div>
        </div>
    </div>
    
</div>




