#project {
  padding: 130px 0 0 0;
  height: 100%; }
  #project .project-nav {
    position: fixed;
    top: 130px;
    left: 0;
    width: 250px;
    height: 100vh;
    background: #4caf93;
    transition: all 0.2s linear; }
    #project .project-nav .head-trigger {
      height: 50px;
      background: pink;
      padding: 10px; }
      #project .project-nav .head-trigger .trigger-icon {
        position: relative;
        display: inline-block;
        padding: 10px 0;
        width: 40px;
        height: 40px;
        color: #FFF; }
        #project .project-nav .head-trigger .trigger-icon .triger-icon_inner1 {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 40px;
          height: 2px;
          margin-bottom: 12px;
          background: #FFF;
          transition: 0.2s all linear; }
        #project .project-nav .head-trigger .trigger-icon .triger-icon_inner2 {
          position: absolute;
          top: 10px;
          left: 0;
          display: block;
          width: 40px;
          height: 2px;
          margin-bottom: 12px;
          background: #FFF; }
        #project .project-nav .head-trigger .trigger-icon .triger-icon_inner3 {
          position: absolute;
          top: 20px;
          left: 0;
          display: block;
          width: 40px;
          height: 2px;
          margin-bottom: 12px;
          background: #FFF;
          transition: 0.2s all linear; }
    #project .project-nav .project-nav-list ul {
      padding: 0;
      margin: 0; }
      #project .project-nav .project-nav-list ul li a {
        display: block;
        padding: 10px 10px;
        color: #FFF;
        background: inherit; }
      #project .project-nav .project-nav-list ul li a:hover {
        background: #808080;
        text-decoration: none; }
  #project .active {
    width: 100px; }
  #project .content-outer {
    margin-left: 260px;
    transition: all 0.2s linear; }
  #project .expand {
    margin-left: 110px; }
  #project .trigger-icon:hover > .triger-icon_inner1 {
    width: 25px;
    transform: translateY(22px) translateX(-4px) rotate(45deg); }
  #project .trigger-icon:hover > .triger-icon_inner3 {
    width: 25px;
    transform: translateY(5) translateX(-4px) rotate(-45deg); }
