<!-- Sidebar -->
<div id="sidebar-container" class="sidebar-expanded d-md-block">
    <!-- Bootstrap List Group -->
    <ul class="list-group">
        <!-- Separator with title -->
        <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
            <small>MAIN MENU</small>
        </li>
        <!-- /END Separator -->
        <!-- Menu with submenu -->
        <a [routerLink]="['home',userService.spaceId]" class="bg-dark list-group-item list-group-item-action ">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-home fa-fw mr-3" data-toggle="tooltip" data-placement="right" title="Home"></span>
                <span class="menu-collapsed">Home</span>
            </div>
        </a>
        <a [routerLink]="['issue',userService.spaceId]" class=" bg-dark list-group-item list-group-item-action ">
            <div class="d-flex w-100 justify-content-start align-items-center ">
                <span class="fa fa-tasks fa-fw mr-3" data-toggle="tooltip" data-placement="right" title="Issues"></span>
                <span class="menu-collapsed">Issues</span>
            </div>
        </a>
        <a [routerLink]="['add',userService.spaceId]" class="bg-dark list-group-item list-group-item-action ">
            <div class="d-flex w-100 justify-content-start align-items-center ">
                <span class="fa fa-plus fa-fw mr-3" data-toggle="tooltip" data-placement="right" title="Add Issue"></span>
                <span class="menu-collapsed">Add Issue</span>
            </div>
        </a>
        <a [routerLink]="['file',userService.spaceId]" class="bg-dark list-group-item list-group-item-action ">
            <div class="d-flex w-100 justify-content-start align-items-center ">
                <span class="fa fa-save fa-fw mr-3" data-toggle="tooltip" data-placement="right" title="Files"></span>
                <span class="menu-collapsed">Files</span>
            </div>
        </a>
        <a [routerLink]="['setting',userService.spaceId]" class="bg-dark list-group-item list-group-item-action ">
            <div class="d-flex w-100 justify-content-start align-items-center ">
                <span class="fa fa-cog fa-fw mr-3" data-toggle="tooltip" data-placement="right" title="Project Settings"></span>
                <span class="menu-collapsed">Project Settings</span>
            </div>
        </a>
        <a href="javascript:void(0);" data-toggle="sidebar-colapse" class="bg-dark list-group-item list-group-item-action d-flex align-items-center disable-this">
            <div class="d-flex w-100 justify-content-start align-items-center ">
                <span id="collapse-icon" class="fa fa-bars mr-3" data-toggle="tooltip" data-placement="right" title="Open"></span>
                <span id="collapse-text" class="menu-collapsed">Close</span>
            </div>
        </a>
    </ul>
    <!-- List Group END-->
</div>
<!-- sidebar-container END -->