    <div class="project-contain-main col-lg-9">
        <b class="title">
            Edit issue type
        </b>
        <div class="">
            <a href="#" class="btn btn-blue">
                Add issue type
            </a>
        </div>
        <div class="Type-list">
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <td>List of Versions / Milestones</td>
                        <td>Start Date</td>
                        <td>End Date</td>
                        <td>Description</td>
                        <td>Delete</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="type-name">
                            <a href="#">Phase</a>
                        </td>
                        <td class="show-type">
                            <a>
                                <label class="type-color">Phase 1</label>
                                <label class="type-count"></label>
                            </a>
                        </td>
                        <td class="start-date">

                        </td>
                        <td class="end-date"></td>
                        <td class="description"></td>
                        <td class="delete">
                            <i title="Delete Issue">X</i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


