<div class="col mb-5">
    <div class="home-body">
        <div class="header-project">
            <div class="row flex-nowrap">
                <div class="col-md-5">
                    <span class="org-name mr-1"><i class="far fa-building"></i> RikkeiSoft</span>
                    <span class="project-key">(FRS_K1)</span>
                </div>
            </div>
        </div>
        <div class="row res-body-home">
            <div class="col-md-12">
                <div class="search-conditions mt-4">
                    <h5>Search conditions</h5>
                    <p class="mb-0 ">
                        <span class="is-filter mr-2">Status:</span>
                        <span class="is-item is-active mr-3">All</span>
                        <span class="is-item mr-3">Open</span>
                        <span class="is-item mr-3">In Progress</span>
                        <span class="is-item mr-3">Resolved</span>
                        <span class="is-item mr-3">Closed</span>
                        <span class="is-item mr-3">Not Closed</span>
                    </p>
                    <form>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="is-filter-Category">Category</label>
                                    <select class="form-control" id="is-category-Category">
                                      <option>Test</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="is-filter-Category">Milestone</label>
                                    <select class="form-control" id="is-milestone-Category">
                                      <option>Test</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="is-filter-Category">Assignee</label>
                                    <select class="form-control" id="is-assignee-Category">
                                      <option>Test</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="is-filter-Category">Keyword</label>
                                    <select class="form-control" id="is-keyword-Category">
                                      <option>Test</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="issue ">
                    <h5>My Issues</h5>
                    <div class="issue-table">
                        <table>
                            <thead class="issue-thead text-center">
                                <tr>
                                    <th>Issue Type</th>
                                    <th>Key</th>
                                    <th>Subject</th>
                                    <th>Assignee</th>
                                    <th>Status</th>
                                    <th class="res-table">Priority</th>
                                    <th class="d-none">Category</th>
                                    <th class="d-none">Version</th>
                                    <th class="d-none">Milestone</th>
                                    <th class="res-table">Created</th>
                                    <th class="res-table">Due</th>
                                    <th class="res-table">Updated</th>
                                    <th class="d-none">Register by</th>
                                    <th class="res-table">Attachment</th>
                                </tr>
                            </thead>
                            <tbody class="issue-tbody text-center">
                                <tr class="tr-body">
                                    <td>Task</td>
                                    <td><a href="# ">FRS_K1-4</a></td>
                                    <td class="text-left">Code các phần common front-end</td>
                                    <td class="issue-assgine-item"><span class="avatar">Văn Hảo</span></td>
                                    <td><span class="status">In progress</span></td>
                                    <td class="res-table">Normal</td>
                                    <td class="d-none">Coding</td>
                                    <td class="d-none">1.0</td>
                                    <td class="d-none">Phase</td>
                                    <td class="res-table">May. 27, 2019</td>
                                    <td class="res-table">Jun. 1</td>
                                    <td class="res-table">May. 28, 2019</td>
                                    <td class="d-none">Văn Hảo</td>
                                    <td class="res-table"></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>