<div class="col mb-5">
    <div class="home-body">
        <div class="header-project">
            <div class="row flex-nowrap">
                <div class="col-md-5">
                    <span class="org-name mr-1"><i class="far fa-building"></i> RikkeiSoft</span>
                    <span class="project-key">({{userService.spaceId}})</span>
                </div>
            </div>
        </div>
        <div class="row res-body-home">
            <div class="col-md-12">
                <div class="search-conditions mt-4">
                    <h5>Search conditions</h5>
                    <p class="mb-1">
                        <span class="is-filter mr-2">Status:</span>
                        <button class="is-item mr-3 status-item" [attr.id]="item.ID" *ngFor="let item of userService.listStatus" [id]="item.id" (click)="active()">{{item.name}}</button>
                    </p>
                    <form>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="is-filter-Category">Category</label>
                                    <select class="form-control" id="is-category-Category" (change)="SearchIssue()">
                                        <option value="0">All</option>
                                        <option *ngFor="let item of userService.listCategory" [value]="item.id">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="is-filter-Category">Milestone</label>
                                    <select class="form-control" id="is-milestone-Category" (change)="SearchIssue()">
                                        <option value="0">All</option>
                                        <option *ngFor="let item of userService.mileStone" [value]="item.id">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="is-filter-Category">Milestone</label>
                                    <select class="form-control" id="is-milestone-Category" (change)="SearchIssue()">
                                        <option value="0">All</option>
                                        <option *ngFor="let item of userService.getMilestone()" [value]="item.id">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="is-filter-Category">Assignee</label>
                                    <select class="form-control" id="is-assignee-Category">
                                        <option value=""></option>
                                        <option *ngFor="let item of userService.getProjectMember()" [value]="item.id">{{item.name}}</option>
                                    </select>
                                </div>
                            </div> -->
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="is-filter-Category">Keyword</label>
                                    <input class="form-control" id="keySearch" placeholder="Enter" ng-model="milestone" (blur)="SearchIssue()"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="issue ">
                    <h5>My Issues</h5>
                    <div class="issue-table">
                        <table>
                            <thead class="issue-thead text-center">
                                <tr>
                                    <th>Issue Type</th>
                                    <th>Key</th>
                                    <th>Subject</th>
                                    <th>Assignee</th>
                                    <th>Status</th>
                                    <th class="res-table">Priority</th>
                                    <th class="d-none">Category</th>
                                    <th class="d-none">Version</th>
                                    <th class="d-none">Milestone</th>
                                    <th class="res-table">Created</th>
                                    <th class="res-table">Due</th>
                                    <th class="res-table">Updated</th>
                                    <th class="d-none">Register by</th>
                                    <th class="res-table">Attachment</th>
                                </tr>
                            </thead>
                            <tbody class="issue-tbody text-center" *ngIf="(userService.listSearchIssue | keyvalue)?.length> 0; else noData">
                                <tr class="tr-body issue-item-detail" *ngFor="let item of userService.listSearchIssue" [attr.data-message-id]="item.id" onclick="redirect()">
                                    <td [attr.id]="item.id" (click)="redirect(item)"><a href="#">{{item.issueTypeName}}</a></td>
                                    <td class="text-left"  (click)="redirect(item)">{{item.key}}</td>
                                    <td class="text-left" (click)="redirect(item)">{{item.subject}}</td>
                                    <td class="issue-assgine-item" (click)="redirect(item)"><span class="avatar">{{item.assigneeName}}</span></td>
                                    <td><span class="status" (click)="redirect(item)">{{item.statusName}}</span></td>
                                    <td class="res-table">{{item.priorityName}}</td>
                                    <td class="d-none" (click)="redirect(item)">{{item.categoryName}}</td>
                                    <td class="d-none" (click)="redirect(item)">{{item.versionName}}</td>
                                    <td class="d-none" (click)="redirect(item)">{{item.milestonName}}</td>
                                    <td class="res-table" (click)="redirect(item)">{{item.createAt}}</td>
                                    <td class="res-table" (click)="redirect(item)">{{item.dueDate}}</td>
                                    <td class="res-table" (click)="redirect(item)">{{item.lastUpdate}}</td>
                                    <td class="d-none" (click)="redirect(item)">{{item.updateByName}}</td>
                                    <td class="res-table" (click)="redirect(item)"></td>
                                </tr>
                                <script>
                                </script>
                            </tbody>
                            <ng-template>
                                <div class="message-not-found" #noData>
                                <p>Issue not found</p>
                            </div>
                        </ng-template>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>