<div class="row" id="body-row">
    <app-menu></app-menu>
    <router-outlet></router-outlet>
    <div class="col">
        <div class="home-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="timeline-wraper ">
                        <h5>Recent Updates</h5>
                        <div class="timeline-content ">
                            <div class="timeline ">
                                <h6 class="timeline-date ">Mon May. 27, 2019</h6>
                                <div class="row">
                                    <div class="col-md-2 text-center ">
                                        Avatar
                                    </div>
                                    <div class="col-md-7 pl-0 py-2 ">
                                        <span class="title ">
                                                  <span class="fn ">Văn Hảo</span>
                                        <span class="action ">updated</span>the issues
                                        </span>
                                        <div class="action-content ">
                                            <a class="issue-key mr-1 " href="# ">FRS_K1-1</a>
                                            <span class="subject ">Code các phần common front-end</span>
                                            <div class="content ">[ Status: In Progress ]</div>
                                            <div class="attachment-file "></div>
                                        </div>
                                        <div class="file "></div>
                                    </div>
                                    <div class="col-md-3 d-flex justify-content-end py-2 ">
                                        <span class="timeAgo ">6 days ago</span>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-2 text-center ">
                                        Avatar
                                    </div>
                                    <div class="col-md-7 pl-0 py-2 ">
                                        <span class="title ">
                                                  <span class="fn ">Văn Hảo</span>
                                        <span class="action ">updated</span>the issues
                                        </span>
                                        <div class="action-content ">
                                            <a class="issue-key mr-1 " href="# ">FRS_K1-1</a>
                                            <span class="subject ">Code các phần common front-end</span>
                                            <div class="content ">[ Status: In Progress ]</div>
                                            <div class="attachment-file "></div>
                                        </div>
                                        <div class="file "></div>
                                    </div>
                                    <div class="col-md-3 d-flex justify-content-end py-2 ">
                                        <span class="timeAgo ">6 days ago</span>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline ">
                                <h6 class="timeline-date ">Tu May. 28, 2019</h6>
                                <div class="row ">
                                    <div class="col-md-2 text-center ">
                                        Avatar
                                    </div>
                                    <div class="col-md-7 pl-0 py-2 ">
                                        <span class="title ">
                                                  <span class="fn ">Văn Hảo</span>
                                        <span class="action ">updated</span>the issues
                                        </span>
                                        <div class="action-content ">
                                            <a class="issue-key mr-1 " href="# ">FRS_K1-1</a>
                                            <span class="subject ">Code các phần common front-end</span>
                                            <div class="content ">[ Status: In Progress ]</div>
                                            <div class="attachment-file "></div>
                                        </div>
                                        <div class="file "></div>
                                    </div>
                                    <div class="col-md-3 d-flex justify-content-end py-2 ">
                                        <span class="timeAgo ">6 days ago</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pl-0">
                    <h5 class="title">Status</h5>
                    <div class="home-status">
                        <div class="row text-center align-content-center">
                            <div class="col-md-2 px-0 ml-3 mr-2">
                                <span>Open</span>
                                <br>
                                <span class="home-open">0</span>
                            </div>
                            <div class="col-md-3 px-0">
                                <span>In progress</span>
                                <br>
                                <span class="home-progress">0</span>
                            </div>
                            <div class="col-md-3 px-0">
                                <span>Resolved</span>
                                <br>
                                <span class="home-resolve">0</span>
                            </div>
                            <div class="col-md-3 px-0">
                                <span>Closed</span>
                                <br>
                                <span class="home-close">0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>