
@{
    ViewBag.Title = "Security";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<div class="component-content">
    <div class="container">
        <div class="component-teamplate security">
            <div class="page-nav security-side-menu">
                <ul>
                    <li><a href="#">Password</a></li>                    
                </ul>
            </div>
            <div class="security-content">
                <h3>Password</h3>
                <p>
                    Use a combination of letters, numbers, and special characters to make your password more secure.
                    Last updated: Time and date will be shown when you reset the password.

                </p>
                <div class="password-strength">
                    <div class="title">
                        Password Strength
                    </div>
                    <div class="password-strength__meter">
                        <div class="strength-level"></div>
                        <div class="strength-level"></div>
                        <div class="strength-level"></div>
                        <div class="strength-level"></div>
                        <div class="strength-level"></div>
                    </div>
                    <div class="password-change">
                        <button class="btn btn-update">Change password</button>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>


