<div class="component-content">
  <div class="container">
      <div class="component-teamplate">
          <div class="form-change">
              <div class="title">
                  <a href=""><  back</a>
                  <h3>Password</h3>
              </div>
              <p>
                  If you change your password, you will stay logged in here, but you will have to login again on your other devices.
              </p>
              <form action="" method="post">
                  <div class="password-change">
                      <div class="form-field">
                          <label>Current password</label>
                          <input class="form-control" name="" placeholder="" />
                      </div>
                      <div class="form-field">
                          <label>New password</label>
                          <input class="form-control" name="" placeholder="" />
                          <div class="password-strength">
                              <div class="password-strength__meter">
                                  <div class="strength-level"></div>
                                  <div class="strength-level"></div>
                                  <div class="strength-level"></div>
                                  <div class="strength-level"></div>
                                  <div class="strength-level"></div>
                              </div>
                              <small>Password strength</small>
                          </div>
                      </div>
                      <div class="form-field">
                          <label>Comfirm password</label>
                          <input class="form-control" name="" placeholder="" />
                      </div>
                      <div class="form-field">
                          <div class="fnc">
                              <button class="btn btn-cancel">Cancel</button>
                              <button class="btn btn-update">Update</button>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>  