<nav class="container-fluid nav-fix navbar navbar-expand-md navbar-dark">
    <span></span>
    <button class="navbar-toggler mr-2 fix-background-toggle" type="button" data-toggle="collapse"
        data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="row flex-nowrap collapse navbar-collapse" id="myNavbar">
        <div class="col-md-7">
            <ul class="navbar-nav ml-2">
                <li class="nav-item">
                    <a class="nav-link" href="dashboard">Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" (click)="userService.getProject"
                        data-toggle="dropdown">
                        Projects
                    </a>
                    <div class="dropdown-menu fix-nav-project">
                        <div class="project-list dropdown-item filter-project">
                            <div class="dropbox-header">
                                <span>Projects</span>
                                <input type="search" id="project-search-id" class="dropbox-search" value=""
                                    (keyup)="searchProject()" name="searchProject" placeholder="Search projects">
                            </div>

                            <div class="isNo-items"
                                *ngIf="!(userService.listProject | keyvalue)?.length > 0; else notShow"><span>There are
                                    no project<br>Projects assigned to you will be listed here.</span></div>
                            <ng-template #notShow></ng-template>
                            <div class="project-content" *ngFor="let p of userService.listProject">
                                <div class="row mx-0 align-items-center">
                                    <div class="col-md-2 pl-0 text-center">
                                        <i class="far fa-building fix-fa-building"></i>
                                    </div>
                                    <div class="col-md-10 pl-0">
                                        <p class="project-name mb-0 mt-2">{{ p.name }}</p>
                                        <p class="project-key mb-2">{{ p.id }}</p>
                                    </div>
                                </div>
                                <a [routerLink]="['/projects/home',p.id]" class="blockLink"></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item drop-issue dropdown">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">
                        Recently Viewed Issues
                    </a>
                    <div class="dropdown-menu">
                        <div class="issue-list dropdown-item">
                            <div class="dropbox-header">
                                <span>Recently Viewed Issues</span>
                                <input type="search" class="dropbox-search" value="" name="searchIssue"
                                    placeholder="Search recently viewed issues">
                            </div>
                            <div class="isNo-items">There are no recently viewed issues yet.</div>
                            <div class="issue-content">
                                <div href="#" class="row mx-0 align-items-center">
                                    <div class="col-md-2 pl-0 text-center">Avatar</div>
                                    <div class="col-md-10 pl-0">
                                        <p class="issue-name my-3">[KR-1] Code các phần common front-end</p>
                                    </div>
                                </div>
                                <a href="#" class="blockLink"></a>
                            </div>
                            <div class="issue-content">
                                <div href="#" class="row mx-0 align-items-center">
                                    <div class="col-md-2 pl-0 text-center">Avatar</div>
                                    <div class="col-md-10 pl-0">
                                        <p class="issue-name my-3">[KR-1] Code các phần common front-end</p>
                                    </div>
                                </div>
                                <a href="#" class="blockLink"></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">Filters</a>
                    <div class="dropdown-menu">
                        <div class="saved-filter-list dropdown-item">
                            <div class="dropbox-header">
                                <span>Issue Filters</span>
                                <input type="search" class="dropbox-search" value="" name="searchFilter"
                                    placeholder="Search saved filters">
                            </div>
                            <div class="isNo-items">
                                <p class="mb-0">There are no saved issue filters</p>
                                <p class="mb-2">Saved filters after searching issues will be listed here.</p>
                            </div>
                            <div class="saved-filter-content">
                                <div href="#" class="row mx-0 align-items-center">
                                    <div class="col-md-2 pl-0 text-center">Avatar</div>
                                    <div class="col-md-10 pl-0">
                                        <p class="filter-name my-3">[KR-1] Code các phần common front-end</p>
                                    </div>
                                </div>
                                <a href="#" class="blockLink"></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-5 d-flex justify-content-end">
            <ul class="navbar-nav mr-2 ">
                <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Search this space">
                    <input type="search" class="dropbox-search fix-search" value="" id="search-global"
                        (keydown)="search()" name="searchSpace" placeholder="Search this Space">
                    <div class="col-md-6 dropbox-header" id="popupSearch">
                        <div class="search-space-title">
                            <h4>Search this Space</h4>
                        </div>
                        <div class="tab">
                            <button id="Issues" class="tablinks active" (click)="active($event, 'Issues')">Issue <span>(</span><span id="count-issue"></span><span>)</span></button>
                            <button id="Members" class="tablinks" (click)="active($event, 'Members')">Members <span>(</span><span id="count-member"></span><span>)</span></button>
                        </div>
                        <div class="result">
                            <div id="Issue" class="tabcontent this-active">
                                <div class="container-fluid">
                                    <div class="row resultSearch" *ngFor="let item of listSearchIssue">
                                        <i class="icon fas fa-building"></i>
                                        <span class="item-text">
                                            [{{item.createName}}] - {{item.subject}} {{item.assigneeName}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div id="Member" class="tabcontent">
                                <div class="container-fluid">
                                    <div class="row resultSearch" *ngFor="let item of listSearchUser">
                                        <i class="icon fas fa-building"></i>
                                        <span class="item-text">
                                                {{item.fullName}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Watching issues">
                    <a class="nav-link" href="javascript:void(0)"><i class="fas fa-eye"></i></a>
                </li>
                <li class="nav-item dropdown" data-toggle="tooltip" data-placement="bottom" title="Notification">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0);" data-toggle="dropdown"
                        aria-haspopup="true"><i class="fas fa-bell" aria-hidden="true"></i></a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-notification">
                        <div class="dropbox-header">
                            <span>Notification</span>
                            <label for="unread" class="unread mb-0 float-right"><input type="checkbox"
                                    name="unread">Unread Only</label>
                        </div>
                        <div class="notification-list-content">
                            <div class="notification-content">
                                <div class="row mx-1">
                                    <div class="col-md-2 text-center ">
                                        Avatar
                                    </div>
                                    <div class="col-md-7 pl-0 py-2 ">
                                        <span class="title-noti">
                                            <span class="fn-noti mr-1">Văn Hảo</span>
                                            <span class="action-noti mx-1">updated</span>the issues
                                        </span>
                                        <div class="action-noti-content ">
                                            <div class="content ">[ Status: In Progress ]</div>
                                            <a class="issue-key mr-1 " href="javascript:void(0);">FRS_K1-1</a>
                                            <span class="subject ">Code các phần common front-end</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 d-flex flex-column align-items-center ">
                                        <span class="timeAgo-noti">6 days ago</span>
                                        <span class="inprogress px-1">In progress</span>
                                    </div>
                                </div>
                                <a href="# " class="blockLink-noti"></a>
                            </div>
                            <div class="notification-content">
                                <div class="row mx-1">
                                    <div class="col-md-2 text-center ">
                                        Avatar
                                    </div>
                                    <div class="col-md-7 pl-0 py-2 ">
                                        <div class="title-noti">
                                            <span class="fn-noti mr-1">Văn Hảo</span>
                                            <span class="action-noti mx-1">updated</span>the issues
                                        </div>
                                        <div class="action-noti-content ">
                                            <div class="content ">[ Status: In Progress ]</div>
                                            <a class="issue-key mr-1 " href="# ">FRS_K1-1</a>
                                            <span class="subject ">Code các phần common front-end</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 d-flex flex-column align-items-center">
                                        <span class="timeAgo-noti ">6 days ago</span>
                                        <span class="inprogress px-1">In progress</span>
                                    </div>
                                </div>
                                <a href="# " class="blockLink-noti"></a>
                            </div>
                            <div class="isNo-items" style="display: none;">There are no notification yet.</div>
                        </div>
                    </div>
                </li>

                <!-- Dropdown -->
                <li class="nav-item dropdown" data-toggle="tooltip" data-placement="bottom" title="User control">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0);" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-user-control">
                        <h6 class="dropdown-header" *ngIf="userService.userDetails"><span><i
                                    class="far fa-building mr-2"></i></span>{{userService.userDetails.spaceID}}
                            ({{userService.userDetails.lastName}})</h6>
                        <a class="dropdown-item" routerLink="/admin/members">Organization Settings</a>
                        <hr>
                        <a class="dropdown-item" routerLink="/admin/account">My profile</a>
                        <a class="dropdown-item" (click)="logout()" href="javascript:void(0)">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script type="text/javascript">
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>