<div class="col">
    <div class="home-body">
        <div class="header-project">
            <div class="row flex-nowrap">
                <div class="col-md-5">
                    <span class="org-name mr-1"><i class="far fa-building"></i> RikkeiSoft</span>
                    <span class="project-key">({{userService.spaceId}})</span>
                </div>
            </div>
        </div>
        <div class="row res-body-home project-setting-content">
            <div class="project-setting-menu col-md-3">
                <ul>
                    <li>
                        <b>Project Setting</b>
                    </li>
                    <li><a href="#" class="active">Issue type</a></li>
                    <li><a href="#">Category Type</a></li>
                    <li><a href="#">Version</a></li>
                </ul>
            </div>
            <div class="project-contain-main col-md-9">

            </div>
        </div>
    </div>
</div>