<div class="component-content">   
  <div class="container">        
      <div class="component-teamplate profile">
          <div class="form-field avatar">
              <img src="https://d1zqp7au6yhc2p.cloudfront.net/default-icons/account/FF4447/128x128.png" title="Avatar" />
              <label> change avatar</label>
          </div>
          <div class="form-field">
              <label>User Name</label>
              <input class=" form-control" name="" placeholder="" />
          </div>
          <div class="form-field">
              <label>Unique ID</label>
              <input class=" form-control" name="" placeholder="" />
          </div>
          <div class="form-field">
              <label>Email</label>
              <input class=" form-control" name="" placeholder="" />
              <div class="fnc">
                  <label><i class="fas fa-check"></i>Verified</label>
                  <a href="">Change Password</a>
              </div>
          </div>
          <div class="form-field">
              <label>Language</label>
              <input class=" form-control" name="" placeholder="" />
          </div>
          <div class="form-field fnc">
             <a href="#"><i class="far fa-trash-alt"></i>Delete my account</a>
             <button class="btn btn-update">Update</button>
          </div>            
      </div>
  </div>
</div>