<div class="col mb-5">
    <div class="home-body">
        <div class="header-project">
            <div class="row flex-nowrap">
                <div class="col-md-5">
                    <span class="org-name mr-1"><i class="far fa-building"></i> RikkeiSoft</span>
                    <span class="project-key">(FRS_K1)</span>
                </div>
            </div>
        </div>
        <div class="row res-body-home">
            <div class="col-md-8">
                <div class="timeline-wraper ">
                    <h5>Recent Updates</h5>
                    <div class="timeline-content ">
                        <div class="timeline ">
                            <h6 class="timeline-date ">Mon May. 27, 2019</h6>
                            <div class="row">
                                <div class="col-md-2 text-center ">
                                    Avatar
                                </div>
                                <div class="col-md-7 pl-0 py-2 ">
                                    <span class="title ">
                                              <span class="fn ">Văn Hảo</span>
                                    <span class="action ">updated</span>the issues
                                    </span>
                                    <div class="action-content ">
                                        <a class="issue-key mr-1 " href="# ">FRS_K1-1</a>
                                        <span class="subject ">Code các phần common front-end</span>
                                        <div class="content ">[ Status: In Progress ]</div>
                                        <div class="attachment-file "></div>
                                    </div>
                                    <div class="file "></div>
                                </div>
                                <div class="col-md-3 d-flex justify-content-end py-2 ">
                                    <span class="timeAgo ">6 days ago</span>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-2 text-center ">
                                    Avatar
                                </div>
                                <div class="col-md-7 pl-0 py-2 ">
                                    <span class="title ">
                                              <span class="fn ">Văn Hảo</span>
                                    <span class="action ">updated</span>the issues
                                    </span>
                                    <div class="action-content ">
                                        <a class="issue-key mr-1 " href="# ">FRS_K1-1</a>
                                        <span class="subject ">Code các phần common front-end</span>
                                        <div class="content ">[ Status: In Progress ]</div>
                                        <div class="attachment-file "></div>
                                    </div>
                                    <div class="file "></div>
                                </div>
                                <div class="col-md-3 d-flex justify-content-end py-2 ">
                                    <span class="timeAgo ">6 days ago</span>
                                </div>
                            </div>
                        </div>
                        <div class="timeline ">
                            <h6 class="timeline-date ">Tu May. 28, 2019</h6>
                            <div class="row ">
                                <div class="col-md-2 text-center ">
                                    Avatar
                                </div>
                                <div class="col-md-7 pl-0 py-2 ">
                                    <span class="title ">
                                              <span class="fn ">Văn Hảo</span>
                                    <span class="action ">updated</span>the issues
                                    </span>
                                    <div class="action-content ">
                                        <a class="issue-key mr-1 " href="# ">FRS_K1-1</a>
                                        <span class="subject ">Code các phần common front-end</span>
                                        <div class="content ">[ Status: In Progress ]</div>
                                        <div class="attachment-file "></div>
                                    </div>
                                    <div class="file "></div>
                                </div>
                                <div class="col-md-3 d-flex justify-content-end py-2 ">
                                    <span class="timeAgo ">6 days ago</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 fix-md-4 pl-0">
                <h5 class="title">Status</h5>
                <div class="home-status">
                    <div class="row text-center align-content-center px-3 flex-nowrap">
                        <div class="col-md-3 px-0">
                            <span>Open</span>
                            <br>
                            <span class="home-open">0</span>
                        </div>
                        <div class="col-md-3 px-0">
                            <span>In progress</span>
                            <br>
                            <span class="home-progress">0</span>
                        </div>
                        <div class="col-md-3 px-0">
                            <span>Resolved</span>
                            <br>
                            <span class="home-resolve">0</span>
                        </div>
                        <div class="col-md-3 px-0">
                            <span>Closed</span>
                            <br>
                            <span class="home-close">0</span>
                        </div>
                    </div>
                </div>
                <h5 class="title">Milestone</h5>
                <div class="home-milestone">
                    <div class="row text-center align-content-center px-3">
                        <div class="milestone-list-items d-flex flex-column align-items-start mx-2">
                            <div class="items-text">
                                1.0
                            </div>
                            <div class="graph-bar d-flex align-items-start mb-3">
                                <span class="graph-rule mr-2"></span>
                                <span class="total-items">(0/0)</span>
                            </div>
                        </div>
                        <div class="milestone-list-items d-flex flex-column align-items-start mx-2">
                            <div class="items-text">
                                Phase
                            </div>
                            <div class="graph-bar d-flex align-items-start mb-3">
                                <span class="graph-rule mr-2"></span>
                                <span class="total-items">(0/0)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="title">Category</h5>
                <div class="home-category">
                    <div class="row text-center align-content-center px-3">
                        <div class="category-list-items d-flex flex-column align-items-start mx-2">
                            <div class="items-text">
                                Coding
                            </div>
                            <div class="graph-bar d-flex align-items-start mb-3">
                                <span class="graph-rule mr-2"></span>
                                <span class="total-items">(0/0)</span>
                            </div>
                        </div>
                        <div class="milestone-list-items d-flex flex-column align-items-start mx-2">
                            <div class="items-text">
                                Basic Design
                            </div>
                            <div class="graph-bar d-flex align-items-start mb-3">
                                <span class="graph-rule mr-2"></span>
                                <span class="total-items">(0/0)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>