<div class="col mb-5">
    <div class="home-body">
        <div class="header-project">
            <div class="row flex-nowrap">
                <div class="col-md-5">
                    <span class="org-name mr-1" *ngIf="userService.userDetails"><i class="far fa-building"></i>{{userService.userDetails.spaceID}}</span>
                    <span class="project-key">({{userService.spaceId}})</span>
                </div>
            </div>
        </div>
        <div class="row res-body-home">
            <div class="col-md-8">
                <div class="timeline-wraper ">
                    <h5>Recent Updates</h5>
                    <div class="timeline-content ">
                        <div *ngIf="(userService.listDateReUpdate | keyvalue)?.length > 0; else noShowHomeTimeLine">
                            <div class="timeline" *ngFor="let ut of userService.listDateReUpdate">
                                <h6 class=" timeline-date ">{{ut}}</h6>
                                <div class="display-content" *ngFor="let lud of userService.listReUpdate">
                                    <div class="row" *ngIf="(lud.updateTime | date: 'MM/dd/yyyy' ) == (ut | date: 'MM/dd/yyyy')">
                                        <div class="col-md-2 text-center timeline-avatar ">
                                            <img class="avatarProfile" src="{{lud.avatarPath}}">
                                        </div>
                                        <div class="col-md-7 pl-0 py-2 ">
                                            <div class="title-recent">
                                                <span class="fn ">{{lud.userName}}</span>
                                                <span [innerHTML]="lud.actionName"></span>
                                            </div>
                                            <div class="action-content ">
                                                <a class="issue-key mr-1 " href="#">{{lud.issueKey}}</a>
                                                <span class="subject ">{{lud.subject}}</span>
                                                <div class="content " [innerHTML]="lud.content"></div>
                                                <div class="attachment-file "></div>
                                            </div>
                                            <div class="file "></div>
                                        </div>
                                        <div class="col-md-3 d-flex justify-content-end py-2 ">
                                            <span class="timeAgo ">{{lud.updateTime | timeago: live}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ng-template #noShowHomeTimeLine>
                            <div class="isNo-items timeline"><span>There are no update.<br>Recently update will be listed here.</span></div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="col-md-4 fix-md-4 pl-0">
                <h5 class="title">Status</h5>
                <div class="home-status">
                    <div class="row text-center align-content-center px-3 flex-nowrap" *ngIf="countStatus">
                        <div class="col-md-3 px-0">
                            <span>Open</span>
                            <br>
                            <span class="home-open">{{countStatus.open}}</span>
                        </div>
                        <div class="col-md-3 px-0">
                            <span>In progress</span>
                            <br>
                            <span class="home-progress">{{countStatus.inprogress}}</span>
                        </div>
                        <div class="col-md-3 px-0">
                            <span>Resolved</span>
                            <br>
                            <span class="home-resolve">{{countStatus.resolved}}</span>
                        </div>
                        <div class="col-md-3 px-0">
                            <span>Closed</span>
                            <br>
                            <span class="home-close">{{countStatus.closed}}</span>
                        </div>
                    </div>
                </div>
                <h5 class="title">Milestone</h5>
                <div class="home-milestone">
                    <div class="row text-center align-content-center px-3">
                        <div class="milestone-list-items d-flex flex-column align-items-start mx-2" *ngFor="let item of userService.mileStone">
                            <div class="items-text">
                                {{item.name}}
                            </div>
                            <div class="graph-bar d-flex align-items-start mb-3">
                                <span class="graph-rule mr-2"></span>
                                <span class="total-items">(0/0)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="title">Category</h5>
                <div class="home-category">
                    <div class="row text-center align-content-center px-3">
                        <div class="category-list-items d-flex flex-column align-items-start mx-2" *ngFor="let item of userService.listCategory">
                            <div class="items-text">
                                {{item.name}}
                            </div>
                            <div class="graph-bar d-flex align-items-start mb-3">
                                <span class="graph-rule mr-2"></span>
                                <span class="total-items">(0/0)</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>