<main>
  <div class="container">
      <div class="page-intro text-center">
          <h1>PinkMind</h1>
          <p>
              Log in to your PinkMind Account Email
          </p>
      </div>
      <div class="page-content">
          <form method="post" action="">
              <div class="form-field">
                  <label>Email</label>
                  <input class="form-control" name="" type="text" placeholder="" />
              </div>
              <div class="form-field">
                  <label>Password</label>
                  <input class="form-control" name="" type="text" placeholder="" />
              </div>
              <div class="form-field">
                  <input type="checkbox" id="autoSignin" name="autoSignin" value="on">
                  <label for="autoSignin" class="keep-login">Keep me logged in</label>
                  <a class="forgot-login" href="">Forgot Password?</a>
              </div>
              <div class="form-field text-center">
                  <button class="btn" type="submit" value="Cancel">Cancel</button>
                  <button class="btn btn-signin" type="submit" value="Login">Login</button>
              </div>
          </form>
          <div class="signup-link text-center">
              <label>Don't have a PinkMind Account?</label><a href="#"> Sign up</a>
          </div>
      </div>
  </div>
</main>

