<div class="container-fluid">
    <header class="admin-header">
        <div class="row align-items-center">
            <div class="col-md-4">
                <h3 class="mb-0">My Profile</h3>
            </div>
            <div class="col-md-8 navbar navbar-expand-md admin-nav py-0">
                <ul class="navbar-nav">
                    <li class="nav-item admin-nav-fix">
                        <a class="nav-link" routerLink="account">ACCOUNT</a>
                    </li>
                    <li class="nav-item admin-nav-fix">
                        <a class="nav-link" routerLink="members">MEMBERS</a>
                    </li>
                    <li class="nav-item admin-nav-fix">
                        <a class="nav-link" (click)="logout()" href="javascript:void(0)">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <router-outlet></router-outlet>
</div>