<div class="col mb-5">
    <div class="home-body">
        <div class="header-project">
            <div class="row flex-nowrap">
                <div class="col-md-5">
                    <span class="org-name mr-1"><i class="far fa-building"></i> RikkeiSoft</span>
                    <span class="project-key"></span>
                </div>
            </div>
        </div>
        <div class="row res-body-addissue" [attr.id]="issueDetail.issueID">
            <div class="col-12 mt-4">
                <div class="row">
                    <div class="col-10">
                        <h1>Task {{issueDetail.key}}</h1>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-success px-5 " (click)="redirect()">Edit</button>
                    </div>
                </div>
                <form class="mt-3" action="javascript:void(0)" method="POST">
                    <div class="card-content mb-3 px-4 py-3" *ngIf="issueDetail">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 pl-4 display-user">
                                    <div class="avatar">
                                        <img [attr.src]="issueDetail.createByPicture" alt="avatar" height="50"
                                            width="50">
                                    </div>
                                    <div class="user-infor">
                                        <p>UserName</p>
                                        <p>Create : 12/12/12</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="pl-4 show-description" [innerHTML]='issueDetail.description'>
                                    {{issueDetail.description }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row py-3 items-border">
                                    <div class="col-6">
                                        Status :
                                    </div>
                                    <div class="col-6 ">
                                        <div class="form-group mb-0">
                                            {{issueDetail.statusName}}
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row align-items-center items-border">
                                    <div class="col-6">
                                        Assignee :
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group mb-0">
                                            {{issueDetail.assigneeName}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row align-items-center items-border">
                                    <div class="col-6">
                                        Priority :
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group mb-0">
                                            {{issueDetail.priorityName}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row align-items-center items-border">
                                    <div class="col-6">
                                        Milestone :
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group mb-0">
                                            {{issueDetail.milestonName}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row align-items-center items-border">
                                    <div class="col-6">
                                        Category :
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group mb-0">
                                            {{issueDetail.categoryID}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row align-items-center items-border items-border-bottom  res-add-version">
                                    <div class="col-6">
                                        Version :
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group mb-0">
                                            {{issueDetail.categoryName}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row align-items-center items-border items-border-bottom">
                                    <div class="col-6">
                                        Due date :
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group mb-0">
                                            {{issueDetail.dueDate | date:'yyyy-MM-dd'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row body-comment-issue">
            <div class="col-12 mt-4">
                <div class="col-12">
                    <h2>Comment</h2>
                </div>
                <form class="mt-3">
                    <div class="card-content mb-3 px-4 py-3" *ngFor="let item of listComment">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-10 pl-4 display-user">
                                    <div class="avatar">
                                        <img *ngIf="item.pictureUL != ''" [attr.src]="item.pictureUL" alt="avatar"
                                            height="50" width="50">
                                    </div>
                                    <div class="user-infor">
                                        <p>{{item.createName}}</p>
                                        <p>Create : {{item.createAt| date:'yyyy-MM-dd'}}</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <i class="edit-comment" (click)="activeFormEdit($event, item.id)">edit</i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 pl-4 show-description">
                                    {{item.content}}
                                </div>
                                <div class="col-12 edit-content" [id]="item.id">
                                    <form #formComment="ngForm" (submit)="onSubmitChange(formComment)">
                                        <input name="id" type="hidden" ngModel [(ngModel)]="item.id">
                                        <textarea required class="form-control" name="content"
                                            [(ngModel)]="item.content"></textarea>
                                        <br>
                                        <button class="btn btn-success px-5" type="submit"
                                            (click)="UpdateComment(formComment)">Change</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="add-comment">
        <div class="row">
            <form class="col-md-7" #formComment="ngForm" autocomplete="off" (submit)="onSubmit(formComment)">
                <div class="mb-3 px-4 py-3">
                        <div class="col-md-1"></div>
                        <div class="col-md-11">
                            <input id="notifyToUser" class="form-control" type="text" name="notifyToUser">
                        </div>
                </div>
                <div class="mb-3 px-4 py-3">
                    <div class="row" (click)="active()">
                        <div class="col-md-1 pl-4 display-user">
                            <div class="avatar">
                                <input type="file" id="fileName" name="fileName" multiple hidden ngModel
                                    #fileName="ngModel">
                                <label for="fileName" class="fas fa-paperclip attach-file"
                                    title="Add mutiple file"></label>
                            </div>
                        </div>
                        <div class="col-md-11 pl-11 comment-content">
                            <input type="hidden" id="issueID" name="issueID" ngModel [(ngModel)]="issueDetail.id">
                            <textarea class="form-control comment-text" id="comment-text" type="text" name="content"
                                placeholder="Enter your comment" ngModel #content="ngModel"></textarea>
                        </div>
                    </div>
                    <div class="flex-elm">
                        <div class="margin-center flex-elm">
                            <div class="func-btn">
                                <button _ngcontent-wxw-c5="" class="btn btn-success px-5" type="submit">Submit</button>
                            </div>
                            <div class="func-btn">
                                <a class="btn btn-success px-5" (click)="close()">Close</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form class="col-md-5" id="update-issue-atcm" #formUpdateIssue="ngForm" autocomplete="off" (submit)="UpdateIssue(formUpdateIssue)">
                <div class="col-md-12">
                    <div class="tab">
                        <input id="update-statusID" type="hidden" name="statusID" ngModel
                            [(ngModel)]="issueDetail.statusID">
                        <button class="tablinks status-item-update" *ngFor="let item of userService.listStatus"
                            [attr.value]="item.id" type="button" (click)="ChangeStatusValue($event, item.id)">{{item.name}}</button>
                    </div>
                    <div class="col-6">
                        <div>Assignee</div>
                        <div class="form-group mb-0">
                            <select class="form-control" id="update-assignee" name="assigneeUser" ngModel
                                [(ngModel)]="issueDetail.assigneeUser" #assigneeUser="ngModel">
                                <option *ngFor="let item of userService.projectMember" [value]="item.userID">
                                    {{item.userName}}</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row mx-1">
                        <div class="col-6">
                            <div>
                                Mileston
                            </div>
                            <div class="form-group mb-0">
                                <select class="form-control" id="update-milestone" name="milestoneID" ngModel
                                    [(ngModel)]="issueDetail.milestoneID" #milestoneID="ngModel">
                                    <option *ngFor="let item of userService.mileStone" [value]="item.id">
                                        {{item.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div>
                                Due Date
                            </div>
                            <div class="form-group mb-0">
                                <input class="form-control" type="date" id="update-duedate" name="dueDate" ngModel
                                    #dueDate="ngModel" [ngModel]="issueDetail.dueDate | date:'yyyy-MM-dd'"
                                    [value]="issueDetail.dueDate | date:'yyyy-MM-dd'"
                                    (ngModelChange)="issueDetail.dueDate = $event" />
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row mx-1">
                        <div class="col-6">
                            <div>Resolution</div>
                            <div class="form-group mb-0">
                                <select class="form-control" id="update-resolution" name="resolutionID" ngModel
                                    [(ngModel)]="issueDetail.resolutionID" #resolutionID="ngModel">
                                    <option *ngFor="let item of userService.listResolution" [value]="item.id">
                                        {{item.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>