<div class="container mb-5">
    <div id="header">
        <p class="content-header text-center">
            <i class="far fa-building"></i> RikkeiSoft
        </p>
    </div>
    <div class="new-project">
        <h6>Get started with your new project!</h6>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 content-project">
                    <div class="row flex-nowrap my-3">
                        <div class="col-md-3 text-center">
                            <div class="radius-avatar"><i class="avatar fa fa-tasks" aria-hidden="true"></i></div>
                        </div>
                        <div class="col-md-9 pl-0">
                            <a href="#">Add project</a>
                            <p class="message">First, add a project that you would like to work on.</p>
                            <br>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                    Add
                                  </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content model-fix">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Add Project</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                                        </div>
                                        <div class="modal-body">
                                            <label for="projectName">Project name</label>
                                            <input type="text" name="project.name" maxlength=" 25 " value=" " id="projectName" class="input-fix d-flex mb-3">
                                            <label for="projectKey">Project key</label>
                                            <input type="text " name="project.key " maxlength="25 " value=" " id="projectKey" class="input-fix d-flex mb-1">
                                            <p>The project key is a unique identifier for a project. A short, concise key is recommended.</p>
                                            <p>(e.g. Project name Backlog has project key BLG_2) Uppercase letters (A-Z), numbers (0-9) and underscore (_) can be used.</p>
                                        </div>
                                        <div class="modal-footer ">
                                            <button type="button " class="btn btn-secondary" data-dismiss="modal" onclick="this.getElementById('exampleModalCenter').display='none'">Close</button>
                                            <button type="button " class="btn btn-primary ">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 content-project ">
                    <div class="row flex-nowrap my-3 ">
                        <div class="col-md-3 text-center ">
                            <div class="radius-avatar "><i class="avatar fas fa-user "></i></div>
                        </div>
                        <div class="col-md-9 pl-0 ">
                            <a href="# ">Add User</a>
                            <p class="message ">Invite members to this Space to work on your projects with you.</p>
                            <button type="button " class="btn btn-success ">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main ">
        <div class="row ">
            <div class="col-md-6 ">
                <div class="timeline-wraper ">
                    <h5>Recent Updates</h5>
                    <div class="timeline-content ">
                        <div class="timeline ">
                            <h6 class="timeline-date ">Mon May. 27, 2019</h6>
                            <div class="row">
                                <div class="col-md-2 text-center ">
                                    Avatar
                                </div>
                                <div class="col-md-7 pl-0 py-2 ">
                                    <span class="title ">
                                      <span class="fn ">Văn Hảo</span>
                                    <span class="action ">updated</span>the issues
                                    </span>
                                    <div class="action-content ">
                                        <a class="issue-key mr-1 " href="# ">FRS_K1-1</a>
                                        <span class="subject ">Code các phần common front-end</span>
                                        <div class="content ">[ Status: In Progress ]</div>
                                        <div class="attachment-file "></div>
                                    </div>
                                    <div class="file "></div>
                                </div>
                                <div class="col-md-3 d-flex justify-content-end py-2 ">
                                    <span class="timeAgo ">6 days ago</span>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-2 text-center ">
                                    Avatar
                                </div>
                                <div class="col-md-7 pl-0 py-2 ">
                                    <span class="title ">
                                      <span class="fn ">Văn Hảo</span>
                                    <span class="action ">updated</span>the issues
                                    </span>
                                    <div class="action-content ">
                                        <a class="issue-key mr-1 " href="# ">FRS_K1-1</a>
                                        <span class="subject ">Code các phần common front-end</span>
                                        <div class="content ">[ Status: In Progress ]</div>
                                        <div class="attachment-file "></div>
                                    </div>
                                    <div class="file "></div>
                                </div>
                                <div class="col-md-3 d-flex justify-content-end py-2 ">
                                    <span class="timeAgo ">6 days ago</span>
                                </div>
                            </div>
                        </div>
                        <div class="timeline ">
                            <h6 class="timeline-date ">Tu May. 28, 2019</h6>
                            <div class="row ">
                                <div class="col-md-2 text-center ">
                                    Avatar
                                </div>
                                <div class="col-md-7 pl-0 py-2 ">
                                    <span class="title ">
                                      <span class="fn ">Văn Hảo</span>
                                    <span class="action ">updated</span>the issues
                                    </span>
                                    <div class="action-content ">
                                        <a class="issue-key mr-1 " href="# ">FRS_K1-1</a>
                                        <span class="subject ">Code các phần common front-end</span>
                                        <div class="content ">[ Status: In Progress ]</div>
                                        <div class="attachment-file "></div>
                                    </div>
                                    <div class="file "></div>
                                </div>
                                <div class="col-md-3 d-flex justify-content-end py-2 ">
                                    <span class="timeAgo ">6 days ago</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="project ">
                    <h5>Projects</h5>
                    <div class="project-list ">
                        <div class="project-content ">
                            <div href="# " class="row flex-nowrap align-items-center ">
                                <div class="col-md-2 pl-0 text-center ">
                                    Avatar
                                </div>
                                <div class="col-md-10 pl-0 ">
                                    <p class="project-name mb-0 mt-2 ">DN0_Project</p>
                                    <p class="project-key mb-2 ">FRK1</p>
                                </div>
                            </div>
                            <a href="# " class="blockLink "></a>
                        </div>
                        <div class="project-content ">
                            <div class="row flex-nowrap align-items-center ">
                                <div class="col-md-2 pl-0 text-center ">
                                    Avatar
                                </div>
                                <div class="col-md-10 pl-0 ">
                                    <p class="project-name mb-0 mt-2 ">DN0_Project</p>
                                    <p class="project-key mb-2 ">FRK1</p>
                                </div>
                            </div>
                            <a href="# " class="blockLink "></a>
                        </div>
                    </div>
                </div>
                <div class="issue ">
                    <h5>My Issues</h5>
                    <div class="issue-table ">
                        <div class="issue-menu ">
                            <p class="mb-0 ">
                                <span class="is-filter ">Filters:</span>
                                <span class="is-item is-active ">Assigned to me</span>
                                <span class="is-item ">Created by me</span>
                            </p>
                            <p class="mb-0 ">
                                <span class="is-dueDate ">Due date:</span>
                                <span class="is-item is-active ">All</span>
                                <span class="is-item ">4days</span>
                                <span class="is-item ">Due Today</span>
                                <span class="is-item ">Overdue</span>
                            </p>
                        </div>
                        <table>
                            <thead class="issue-thead " align="center ">
                                <tr>
                                    <th>Key</th>
                                    <th>Subject</th>
                                    <th>Priority</th>
                                    <th>Status</th>
                                    <th>Due</th>
                                </tr>
                            </thead>
                            <tbody class="issue-tbody ">
                                <tr class="test ">
                                    <td><a href="# ">FRS_K1-4</a></td>
                                    <td>Code các phần common front-end</td>
                                    <td>Normal</td>
                                    <td><span class="status ">In progress</span></td>
                                    <td>Jun. 1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>