.admin-body-fix {
    background-color: #fff;
    margin: 1.5rem .5rem;
    border-radius: 5px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.admin-col-12-fix {
    padding: 2rem 24.9rem 2rem 26.3rem;
    font-size: .9rem;
}