<div class="row admin-body-fix">
    <div class="col-md-12 admin-col-12-fix">
        <form action="" method="POST">
            <div class="py-4 px-2">
                <div class=" m-auto text-center w-50">
                    <img src="https://d1zqp7au6yhc2p.cloudfront.net/default-icons/account/F8E71C/128x128.png" width="128" height="128">
                </div>
                <div class="text-center mt-1"><a href="#">Change avatar</a></div>
            </div>
            <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" class="form-control" name="username" value="Test">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" value="test@gmail.com" readonly>
            </div>
            <div class="form-group">
                <label for="orgname">Organization Name</label>
                <input type="text" class="form-control" name="orgname" value="Test">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-link">Delete my account</button>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <button type="submit" class="btn btn-success">update</button>
                </div>
            </div>
        </form>
    </div>
</div>