
<div class="project-setting-content row">
  <div class="project-setting-menu col-lg-3">
      <ul>
          <li>
              <b>Project Setting</b>
          </li>
          <li><a href="#" class="active">Issue type</a></li>
          <li><a href="#">Category Type</a></li>
          <li><a href="#">Version</a></li>
      </ul>
  </div>
  <div class="project-contain-main col-lg-9">
      <h2 class="title">
          Edit member
      </h2>
      <div class="edit-menber-form ">
          <input class="form-control col-md-12" name="" placeholder="select team" />
          <p class="text-description">Add message</p>
          <div class="edit-submit">
              <button type="submit" class="btn btn-blue">Add select to project</button>
          </div>
      </div>
      <b class="title">
          Project members
      </b>
      <div class="edit-menber-form row">
          <label class="col-md-2">Fillter user</label>
          <input class="form-control col-md-8 col-xs-12" />
          <select class="form-control col-md-2 col-xs-12">
              <option>All user</option>
              <option>Rikeimember</option>
          </select>
      </div>
      <p class="page-list">
          <label>1 -1 of 1</label>
      </p>
      <div class="Type-list">
          <table class="table">
              <thead>
                  <tr>
                      <td>Name</td>
                      <td>Email Adress</td>
                      <td>Role</td>
                      <td>Johned on</td>
                      <td>Delete</td>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="type-name">
                          <a href="#">Nam DC</a>
                      </td>
                      <td class="mem-email">
                          <label>Nguyenthanhnam@gmail.com</label>
                      </td>
                      <td class="role">Administrator</td>
                      <td class="johnedon">Jun. 03, 2019</td>
                      <td class="delete">
                          <i title="Delete Issue">X</i>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <p class="page-list">
          <label>1 -1 of 1</label>
      </p>
      <div class="edit-submit">
          <button type="submit" class="btn btn-blue"> Submit</button>
      </div>
  </div>
  





