body {
    background-color: #f4f4f4;
}


/*Total body */

.action,
.addComment,
.updateComment,
.status,
.deleteIssue,
.is-active,
.is-item:hover {
    background-color: #4caf93;
    padding: 3px 10px;
    margin: 0 3px;
    border-radius: 20px;
    color: white;
    line-height: 2.5rem;
    font-size: .8rem;
    cursor: pointer;
}


/*Total body*/

#header {
    margin-top: 80px;
}

#header .content-header {
    font-size: 2rem;
    font-weight: 700;
}

.new-project .content-project {
    background-color: #fcfade;
    border: 8px solid #fff;
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
}

.new-project .content-project:last-child {
    border-left: none;
}


/* modal */

.model-fix {
    font-size: .8rem;
}

.model-fix .input-fix {
    width: 100%;
}

.model-fix p {
    margin: 0;
    font-weight: 300;
}

.model-fix label::after {
    content: "*";
    font-size: 1rem;
    padding-left: 4px;
    color: #ea2c00
}

@media screen and (max-width: 650px) {
    .new-project .content-project:last-child {
        border-left: 8px solid #fff;
        border-top: none;
    }
}

.new-project .message {
    font-size: .9rem;
    margin: 8px 0;
}

.radius-avatar {
    width: 100px;
    height: 100px;
    background-color: rgba(119, 182, 164, .6);
    border-radius: 100%;
}

.radius-avatar .avatar {
    color: white;
    font-size: 65px;
    margin-top: 16px;
}


/*Main*/

.timeline-wraper,
.project,
.issue {
    margin-top: 30px;
}

.timeline {
    border: 8px solid #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

.timeline .row,
.project-content .row {
    padding: 0;
    margin: 0 10px;
    font-size: .88rem;
}

.timeline .row:not(:last-child),
.milestone-list-items:not(:last-child),
.category-list-items:not(:last-child) {
    border-bottom: 1px solid #ddd;
    margin-bottom: .5rem;
}

.timeline-date {
    padding: 10px 20px;
    background-color: #f0f0f0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

.title {
    font-weight: 600;
}

.title .fn {
    margin-right: 3px;
}

.action-content .issue-key {
    color: rgba(0, 131, 107, .6);
    background-color: #edf4f0;
    padding: 2px;
    border-radius: 2px;
}

.action-content .subject {
    color: rgba(34, 34, 34, .7);
    font-weight: 300;
}


/****My Issue****/

.issue-menu,
.file-menu {
    padding: 8px 6px;
    background-color: #f0f0f0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    font-size: .88rem;
}

.issue-menu .is-filter {
    font-weight: 600;
    margin-right: 25px;
}

.issue-menu .is-dueDate {
    font-weight: 600;
    margin-right: 5px;
}

.issue-menu .is-item {
    margin-right: 15px;
}

.issue-table,
.file-table {
    border: 8px solid #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

table {
    width: 100%;
    background-color: #f9f9f9;
}

.issue-thead,
.file-thead {
    background-color: #fff;
    border-bottom: 2px solid #ddd;
}

.issue-thead tr th,
.file-thead tr th {
    font-size: .9rem;
    font-weight: 400;
    padding: 6px;
}

.issue-thead tr th:hover,
.file-thead tr th:hover {
    color: #00836b;
    background-color: #e3eee8;
    cursor: pointer;
}

.issue-tbody,
.file-tbody {
    font-size: .88rem;
}

.issue-tbody .tr-body,
.file-tbody .tr-body {
    position: relative;
}

.issue-tbody tr td,
.file-tbody tr td {
    padding: 0 6px;
}

.issue-tbody tr:hover,
.file-tbody tr:hover {
    background-color: #fcfade;
    cursor: pointer;
}

.tr-body:not(:last-child) {
    border-bottom: 1px solid #ddd;
}


/*Project*/

.project-list {
    background-color: #fff;
    border: 8px solid #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

.project-list .project-content {
    position: relative;
}

.blockLink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #ffffff;
    filter: alpha(opacity=0);
    opacity: 0;
}

.project-list .project-content:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.project-content .project-name {
    font-weight: 600;
}

.project-content .project-key {
    font-weight: 300;
    font-size: .85rem;
}

.project-list .project-content:hover {
    color: white;
    background-color: #4caf93;
    cursor: pointer;
}


/******Sub-nav-project*****/

#body-row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

#sidebar-container {
    height: 100%;
    min-height: 100vh;
    background-color: #333;
    padding: 0;
    overflow: hidden;
}


/* Sidebar sizes when expanded and expanded */

.sidebar-expanded {
    width: 230px;
}

.sidebar-collapsed {
    width: 60px;
}


/* Menu item*/

#sidebar-container .list-group a {
    height: 50px;
    color: white;
}


/* Submenu item*/

#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}


/* Separators */

.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}

.sidebar-separator {
    background-color: #333;
    height: 25px;
}

.logo-separator {
    background-color: #333;
    height: 60px;
}


/* Closed submenu icon */

#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}


/* Opened submenu icon */

#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}


/*project*/

.header-project {
    background-color: #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    margin: 0 -15px;
    padding: 12px 15px;
}

.header-project .project-key {
    font-size: .78rem;
}

.org-name {
    font-weight: 600;
}

.title {
    margin-top: 30px;
}

.home-status,
.home-milestone,
.home-category {
    border: 8px solid #fff;
    border-radius: 5px;
    font-size: .78rem;
    padding: 8px 3px 12px 4px;
    line-height: 1.5rem;
}


/*home-status*/

.home-open,
.home-progress,
.home-resolve,
.home-close {
    padding: 3px 25px;
    margin-top: 5px;
    border-radius: 15px;
    color: white;
}

.home-open {
    background-color: #ed8077;
}

.home-progress {
    background-color: #4488c5;
}

.home-resolve {
    background-color: #5eb5a6;
}

.home-close {
    background-color: #b0be3c;
}


/*home-milestone*/

.milestone-list-items,
.category-list-items {
    width: 100%;
}

.items-text {
    color: #00836b;
    font-weight: 600;
    font-size: .9rem;
}

.graph-bar {
    width: 100%;
    vertical-align: middle;
    line-height: 0.7;
}

.graph-rule {
    width: 250px;
    height: 12px;
    background-color: rgba(176, 190, 60, .8);
}

@media screen and (max-width: 760px) {
    .fix-md-4 {
        margin-left: 15px;
    }
    .res-body-home {
        flex-flow: column-reverse;
    }
}


/*project*/

@media screen and (max-width: 760px) {
    .timeline-avatar {
        display: none;
    }
    .disable-this {
        pointer-events: none;
        opacity: 0;
    }
    .fix-search {
        display: none;
    }
}