<header id="unsignedHeader" class="page-header">
    <div class="top-header">
        <a id="brandLogo" class="logo-page">
            <span>PinkMind</span>
        </a>
        <ul class="nav">
            <li class="nav-item">EN</li>
            <li class="nav-item">Vi</li>
        </ul>
    </div>
</header>
<router-outlet></router-outlet>
<footer id="unsignedfooter">
    <div class="footer-nav">
        <ul>
            <li class="nav-item nav-link"><a href="#">Rikkeisoft</a></li>
            <li class="nav-item nav-link"><a href="#">DN IT</a></li>
            <li class="nav-item nav-link"><a href="#">Contact</a></li>
            <li class="nav-item nav-link"><a href="#">PinkMind</a></li>
        </ul>
    </div>
    <div class="social-media">
        <a href="social-item" class="mr-2">
            <i class="fab fa-facebook-square"></i>
        </a>
        <a href="social-item" class="mr-2">
            <i class="fab fa-twitter-square"></i>
        </a>
        <a href="social-item" class="mr-2">
            <i class="fab fa-google-plus-square"></i>
        </a>
    </div>
    <div class="footer-nav">
        <ul>
            <li class="nav-item nav-link"><a href="#">Terms of Service</a></li>
            <li class="nav-item nav-link"><a href="#">Privacy Policy</a></li>
            <li class="nav-item nav-link"><a href="#">©2019. All rights reserved</a></li>
            <li class="nav-item nav-link"><a href="#">Rikkeisoft is registered in VietNam</a></li>
        </ul>
    </div>
</footer>